<h2>Traccar 테스트 데이터 분석</h2>
<p>일부 환경에서 Traccar 가 오랜 기간 (몇 시간) 동안 데이터를 송신하지 않는 현상을 확인해야 한다.
주로 아이폰에서 일어나는 것으로 파악.</p>

<p>실험기간: 201901</p>
<p>Traccar 서버 버전: 4.2</p>
<p>서버: cssc.hanyang.ac.kr:5055</p>
<p>주기 60초</p>
<table>
    <thead>
        <tr>
            <th>사용자                        </th>
            <th>기종</th>
            <th>OS</th>
            <th>Traccar Client</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>정근성</td>
            <td>V20</td>
            <td>8.0.0/F800K20i</td>
            <td>5.17</td>            
        </tr>
        <tr>
            <td>정근성</td>
            <td>S5</td>
            <td>6.0.1/F800K20i</td>
            <td>5.17</td>            
        </tr>
        <tr>
            <td>정근성</td>
            <td>아이폰6</td>
            <td>12.1.2/16C104</td>
            <td>5.5</td>            
        </tr>
        <tr>
            <td>박민우</td>
            <td>아이폰 XS</td>
            <td>12.1.2</td>
            <td>5.5</td>            
        </tr>
        <tr>
            <td>이상진</td>
            <td>아이폰 X</td>
            <td>12.1.3 beta 4</td>
            <td>5.5</td>            
        </tr>
    </tbody>
</table>

<p>어쩌다 알아내게 된 것: Traccar 클라이언트가 신호를 올바르게 보내지만 서버에 등록되어있지 않았던 경우 다시 등록하면 한방에 다 보낸다...</p>
<p>HCICG0160 학생 자료</p>

In [1]:
import pandas as pd
import json
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL

In [2]:
dbconfig = json.loads(open("res/dbconfig.properties").read())
engine = create_engine(URL(**dbconfig["cssc_jaunt"]))

In [3]:
sql = "select * from tc_devices;"
df = pd.read_sql_query(sql, engine)

In [4]:
df

,id,name,uniqueid,lastupdate,positionid,groupid,attributes,phone,model,contact,category,disabled
0,50,박민우,2,2019-01-24 16:45:14.346,309928.0,None,{},,,,None,False
1,48,이상진,1,2019-01-18 09:47:04.167,292584.0,None,{},,,,None,False
2,53,가짜,0001,NaT,NaN,None,{},,,,None,False
3,49,정근성,4332,2019-01-20 17:54:21.261,294505.0,None,{},,,,None,False
4,54,HCICG0160,HCICG0160,2019-01-24 16:59:41.602,309970.0,None,{},,,,None,False
5,52,정s,43323,2019-01-24 16:59:50.646,309971.0,None,{},,,,None,False
6,51,정i,44582,2019-01-24 17:00:04.564,309972.0,None,{},,,,None,False